@import url(reset.css);

@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap");

body {
	font-family: "Plus Jakarta Sans";
	color: #5e6282;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.wrapper>main {
    flex-grow: 1;
}

 [class*="__container"] {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 }

 .background {
    position: absolute;
    z-index: -10;
 }

 .background_image {
    top: 0;
    right: 0;
 }

 .header {
    margin-top: 77px;
    margin-bottom: 67px;
 }

 .header_content {
    max-width: 530px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

 .logo>img {
    width: 80px;
 }

 .navigation {
    max-width: 500px;
    display: flex;
    gap: 40px;
 }

 .btn {
    font-size: 14px;
    font-weight: normal;
    color: #9a9ea6;
    transition: color 0.4s;
 }

 .btn:hover {
    color: blue;
 }

 .page {
    display: flex;
    position: relative;
 }

 .page_set {
    max-height: 450px;
 }

 .page__container::before,
 .page__container::after {
     content: "";
     position: absolute;
     background-color: #4475f2;
     height: 150%;
     transform-origin: left bottom;
     box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
     width: 200vw;
     border-radius: 50px;
     bottom: 25%;
     z-index: -10;
 }
 .page__container::before {
     left: calc(50% + 30px);
     transform: skewX(-20deg);
 }
 .page__container::after {
     transform: skewX(31deg);
     left: calc(50% + 444px);
 }

 .page__container {
    display: flex;
    flex-direction: row;
 }

 .info {
    width: 50%;
 }

 .heading {
    font-size: 76px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 117%;
    color: #181E4B;
    margin-bottom: 30px;
 }

 .heading>a {
    color: #4475F2;
    text-decoration: underline;
 }

 .text {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 34px;
 }

 .info_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #4475F2;
    border-radius: 10px;
    color: white;
    box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
    transition: all 0.3s;
 }

 .info_btn:hover{
    box-shadow: 0 50px 60px 0 rgba(68, 117, 242, 0.45);
    transform:translateY(10px)
 }

 .images-page {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 27px;
}

.page__images {
    flex: 0 1 50%;
}

.images-page__image {
	border-radius: 10px;
	max-width: 100%;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}
.images-page__item--01 {
	grid-row: span 2;
	align-self: end;
	padding-bottom: 10px;
}

.images-page__item--03 {
	align-self: center;
	justify-self: end;
	grid-row: span 2;
	padding-bottom: 10px;
}
.images-page__item--04 {
	align-self: end;
	justify-self: end;
}

.features {
   margin-top: 170px;
}

.features__heading {
   margin-bottom: 90px;
}

.features__heading>h2 {
   font-size: 18px;
   font-weight: 800;
   margin-bottom: 10px;
   color: #4475F2;
}

.features__heading>p {
   font-size: 48px;
   font-weight: 800;
   color: black;
}

.features__cards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 200px;
}

.features_card {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 350px;
}

.card_icon {
   display: flex;
   justify-content: center;
   align-items: center;
	border-radius: 20px;
	background-color: #4475f2;
	height: 100px;
	width: 100px;
	box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
   margin-bottom: 20px;
}

.card_heading {
   font-size: 24px;
   font-weight: bold;
   color: black;
   margin-bottom: 28px;
}

.card_text {
   font-size: 16px;
   font-weight: 400;
   line-height: 2;
   text-align: center;
}



.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 120px;
   background-color: #4475F2;
}

.footer>p {
   color: white;
   font-size: 14px;
}